@charset "utf-8";
/* CSS Document */
body {
	margin: 0;
	padding: 0;
	min-width: 1170px;
	font-family: "Microsoft Yahei";
}

a {
	color: #fff;
}

a:link {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	color: #fff;
	text-decoration: none;
}

ul,li {
	list-style: none;
}

header {
	background: #f7f7f7;
	height: 30px;
	border-bottom: solid 1px #eaeaeb;
	line-height: 30px;
}

header a {
	padding: 0 8px;
	color: #666;
	font-size: 12px;
}
/**bootstrap**/
.container {
	clear: both;
	padding: 0px;
	width: 1170px !important;
}

.container-fluid {
	padding: 0;
	margin: 0;
}

.progress {
	height: 10px;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

.table>thead>tr>th {
	border-bottom: 1px solid #ddd;
}

.progress {
	box-shadow: none;
}

.nav-tabs>li>a:hover {
	background: none;
	border-top: solid 1px #fff;
	border-left: solid 1px #fff;
	border-right: solid 1px #fff;
	overflow: inherit
}

.display-block {
	display: block !important;
}
/**公用**/
.container {
	width: 1170px;
	margin: 0 auto;
}

.opacity-0 {
	opacity: 0;
}

.opacity-1 {
	opacity: 1;
}

.container {
	clear: both;
	padding: 0px;
	width: 1170px !important;
}

.container-fluid {
	padding: 0;
	margin: 0;
}

.width-inherit {
	width: inherit;
}

.width12 {
	width: 12%;
}

.width18 {
	width: 19%;
	float: left;
}

.width20 {
	width: 20%;
}

.width22 {
	width: 22%;
	float: left;
}

.width25 {
	width: 25%;
}

.width30 {
	width: 30%;
}

.width33 {
	width: 33%;
}

.width40 {
	width: 40%;
}

.width50 {
	width: 50%;
}

.width55 {
	width: 55%;
}

.width60 {
	width: 60%;
}

.width66 {
	width: 66%;
}

.width70 {
	width: 70%;
}

.width80 {
	width: 80%;
}

.width90 {
	width: 90%;
}

.width95 {
	width: 95%;
}

.width100 {
	width: 100%;
}

.width-60 {
	width: 60px;
	display: block;
}

.width-70 {
	width: 70px;
}

.width-80 {
	width: 80px;
}

.width-90 {
	width: 90px;
}

.width-100 {
	width: 100px;
}

.width-115 {
	width: 115px;
}

.width-120 {
	width: 120px;
}

.width-130 {
	width: 130px;
}

.width-140 {
	width: 140px;
}

.width-150 {
	width: 150px;
}

.width-155 {
	width: 155px;
}

.width-160 {
	width: 160px;
}

.width-165 {
	width: 165px;
}

.width-170 {
	width: 170px;
}

.height-40 {
	height: 40px;
}

.height130 {
	height: 130px;
}

.z-index99999 {
	z-index: 99999;
}

.position-fixed {
	position: fixed;
}

.top-0 {
	top: 0;
}

.text-indent-2 {
	text-indent: 2em;
}

.font12 {
	font-size: 12px;
}

.font13 {
	font-size: 13px;
}

.font14 {
	font-size: 14px;
}

.font16 {
	font-size: 16px;
}

.font18 {
	font-size: 18px;
}

.font56 {
	font-size: 56px;
}

.font20 {
	font-size: 20px;
}

.font22 {
	font-size: 22px;
}

.font24 {
	font-size: 24px;
}

.font26 {
	font-size: 26px;
}

.font30 {
	font-size: 30px;
}

.font40 {
	font-size: 40px;
}

.font60 {
	font-size: 60px;
}

.font72 {
	font-size: 72px;
}

.bold {
	font-weight: bold;
}

.back-none {
	background: none;
}

.back-000 {
	background: #000;
}

.back-fff {
	background: #fff;
}

.back-1e1412 {
	background: #1e1412;
}

.back-201f1e {
	background: #201f1e;
}

.back-fe6152 {
	background: #fe6152;
}

.back-5ce6ba {
	background: #5ce6ba;
}

.back-e44043 {
	background: #e44043;
}

.back-f0f0f0 {
	background: #f0f0f0;
}

.back-fcfcfc {
	background: #fcfcfc;
}

.back-f3f0fe {
	background: #f3f0fe;
}

.back-8569f9 {
	background: #fb565c;
}

.back-ff6800 {
	background: #ff6800;
}

.back-f2f2f2 {
	background: #f2f2f2;
}

.back-f5f5ff {
	background: #f5f5ff;
}

.back-51b4f1 {
	background: #51b4f1;
}

.back-fcca04 {
	background: #fcca04;
}

.back-ffb629 {
	background: #ffb629;
}

.back-88cae0 {
	background: #88cae0;
}

.back-f8f8f8 {
	background: #f8f8f8;
}

.back-fff5d6 {
	background: #fff5d6;
}

.back-f9f9f9 {
	background: #f9f9f9;
}

.back-ffe382 {
	background: #ffe382;
}

.back-a198f9 {
	background: #a198f9;
}

.back-fb685e {
	background: #fb685e;
}

.back-fdf9f1 {
	background: #fdf9f1;
}

.back-FEE7E5 {
	background: #FEE7E5;
}

.back-FE9D27 {
	background: #FE9D27;
}

.back-570000 {
	background: #570000;
}

.color-6b6260 {
	color: #6b6260;
}

.color-c19e79 {
	color: #c19e79;
}

.color-c8c8c8 {
	color: #c8c8c8;
}

.color-f8c986 {
	color: #f8c986;
}

.color-eedec7 {
	color: #eedec7;
}

.color-ffedbb {
	color: #ffedbb;
}

.color-e47f46 {
	color: #e47f46;
}

.color-f5c78a {
	color: #f5c78a;
}

.color-f1d9a6 {
	color: #f1d9a6;
}

.color-595757 {
	color: #595757;
}

.color-ccc {
	color: #ccc;
}

.color-f2a900 {
	color: #f2a900;
}

.color-a198f9 {
	color: #a198f9;
}

.color-fb685e {
	color: #fb685e;
}

.color-b4b5b5 {
	color: #b4b5b5;
}

.color-000 {
	color: #000;
}

.color-666 {
	color: #666;
}

.color-fff {
	color: #fff;
}

.color-fb565c {
	color: #fb565c;
}

.color-ff7301 {
	color: #ff7301;
}

.color-999 {
	color: #999;
}

.color-333 {
	color: #333;
}

.color-db6209 {
	color: #db6209;
}

.color-1c88e8 {
	color: #1c88e8;
}

.color-dd2025 {
	color: #dd2025;
}

.color-ffa66b {
	color: #ffa66b;
}

.color-ff6600 {
	color: #ff6600;
}

.color-93cd23 {
	color: #93cd23;
}

.padding-no {
	padding: 0px;
}

.padding-t-b-12 {
	padding-bottom: 12px;
	padding-top: 12px;
}

.padding-t-b-10 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.padding-t-b-15 {
	padding-bottom: 15px;
	padding-top: 15px;
}

.padding-t-b-20 {
	padding-top: 20px;
	padding-bottom: 20px;
}

.padding-t-b-25 {
	padding-top: 20px;
	padding-bottom: 25px;
}

.padding-t-b-30 {
	padding-top: 30px;
	padding-bottom: 30px;
}

.padding-l-r-0 {
	padding-left: 0px;
	padding-right: 0px;
}

.padding-l-0 {
	padding-left: 0px;
}

.padding-l-r-6 {
	padding: 0 6px;
}

.padding-l-r-10 {
	padding: 0 10px;
}

.padding-l-r-15 {
	padding: 0 15px;
}

.padding-l-r-20 {
	padding: 0 20px;
}

.padding-l-r-25 {
	padding: 0 25px;
}

.padding-l-r-25 {
	padding: 0 25px;
}

.padding-l-r-28 {
	padding-left: 28px;
	padding-right: 28px;
}

.padding-l-r-30 {
	padding: 0 30px;
}

.padding-l-r-35 {
	padding: 0 35px;
}

.padding-l-r-40 {
	padding: 0 40px;
}

.padding-l-r-45 {
	padding: 0 45px;
}

.padding-l-r-50 {
	padding: 0 50px;
}

.padding-l-r-55 {
	padding-left: 55px;
	padding-right: 55px;
}

.padding-top-1 {
	padding-top: 1px;
}

.padding-top-2 {
	padding-top: 2px;
}

.padding-top-3 {
	padding-top: 3px;
}

.padding-top-4 {
	padding-top: 4px;
}

.padding-top-5 {
	padding-top: 5px;
}

.padding-top-6 {
	padding-top: 6px;
}

.padding-top-7 {
	padding-top: 7px;
}

.padding-top-8 {
	padding-top: 8px;
}

.padding-top-9 {
	padding-top: 9px;
}

.padding-top-10 {
	padding-top: 10px;
}

.padding-top-11 {
	padding-top: 11px;
}

.padding-top-15 {
	padding-top: 15px;
}

.padding-top-18 {
	padding-top: 18px;
}

.padding-top-20 {
	padding-top: 20px;
}

.padding-top-25 {
	padding-top: 25px;
}

.padding-top-30 {
	padding-top: 30px;
}

.padding-top-35 {
	padding-top: 35px;
}

.padding-top-40 {
	padding-top: 40px;
}

.padding-top-50 {
	padding-top: 50px;
}

.padding-top-55 {
	padding-top: 55px;
}

.padding-top-60 {
	padding-top: 60px;
}

.padding-top-65 {
	padding-top: 65px;
}

.padding-top-75 {
	padding-top: 75px;
}

.padding-top-90 {
	padding-top: 90px;
}

.padding-top-100 {
	padding-top: 100px;
}

.padding-top-180 {
	padding-top: 180px;
}

.padding-top-435 {
	padding-top: 435px;
}

.padding-top-450 {
	padding-top: 450px;
}

.padding-left-0 {
	padding-left: 0px;
}

.padding-left-5 {
	padding-left: 5px;
}

.padding-left-10 {
	padding-left: 10px;
}

.padding-left-14 {
	padding-left: 14px;
}

.padding-left-15 {
	padding-left: 15px;
}

.padding-left-20 {
	padding-left: 20px;

}

.padding-left-25 {
	padding-left: 25px;
}

.padding-left-30 {
	padding-left: 30px;
}

.padding-left-35 {
	padding-left: 35px;
}

.padding-left-40 {
	padding-left: 40px;
}

.padding-left-50 {
	padding-left: 50px;
}

.padding-left-70 {
	padding-left: 70px;
}

.padding-left-80 {
	padding-left: 80px;
}

.padding-right-0 {
	padding-right: 0px;
}

.padding-right-5 {
	padding-right: 5px;
}

.padding-right-10 {
	padding-right: 10px;
}

.padding-right-12 {
	padding-right: 12px;
}

.padding-right-15 {
	padding-right: 15px;
}

.padding-right-20 {
	padding-right: 20px;
}

.padding-right-25 {
	padding-right: 25px;
}

.padding-right-35 {
	padding-right: 35px;
}

.padding-right-40 {
	padding-right: 40px;
}

.padding-right-50 {
	padding-right: 50px;
}

.padding-right-70 {
	padding-right: 70px;
}

.padding-right-75 {
	padding-right: 75px;
}

.padding-right-160 {
	padding-right: 160px;
}

.padding-0 {
	padding: 0px;
}

.padding-10 {
	padding: 10px;
}

.padding-20 {
	padding: 20px;
}

.padding-25 {
	padding: 25px;
}

.padding-30 {
	padding: 30px;
}

.padding-60 {
	padding: 60px;
}

.padding-bottom-0 {
	padding-bottom: 0px;
}

.padding-bottom-1 {
	padding-bottom: 1px;
}

.padding-bottom-2 {
	padding-bottom: 2px;
}

.padding-bottom-3 {
	padding-bottom: 3px;
}

.padding-bottom-4 {
	padding-bottom: 4px;
}

.padding-bottom-5 {
	padding-bottom: 5px;
}

.padding-bottom-10 {
	padding-bottom: 10px;
}

.padding-bottom-15 {
	padding-bottom: 15px;
}

.padding-bottom-20 {
	padding-bottom: 20px;
}

.padding-bottom-25 {
	padding-bottom: 25px;
}

.padding-bottom-30 {
	padding-bottom: 30px;
}

.padding-bottom-31 {
	padding-bottom: 31px;
}

.padding-bottom-32 {
	padding-bottom: 32px;
}

.padding-bottom-33 {
	padding-bottom: 33px;
}

.padding-bottom-34 {
	padding-bottom: 34px;
}

.padding-bottom-35 {
	padding-bottom: 35px;
}

.padding-bottom-40 {
	padding-bottom: 40px;
}

.padding-bottom-45 {
	padding-bottom: 45px;
}

.padding-bottom-50 {
	padding-bottom: 50px;
}

.padding-bottom-55 {
	padding-bottom: 55px;
}

.padding-bottom-60 {
	padding-bottom: 60px;
}

.margin-0-auto {
	margin: 0 auto;
}

.margin-no {
	margin: 0px;
}

.margin-5 {
	margin: 5px;
}

.margin-10 {
	margin: 10px;
}

.margin-15 {
	margin: 15px;
}

.margin-20 {
	margin: 20px;
}

.margin-25 {
	margin: 25px;
}

.margin-30 {
	margin: 30px;
}

.margin-35 {
	margin: 35px;
}

.margin-45 {
	margin: 45px;
}

.margin-50 {
	margin: 50px;
}

.margin-top-0-5 {
	margin-top: -5px;
}

.margin-top-0-7 {
	margin-top: 10px;
}

.margin-t-b-5 {
	margin: 5px 0;
}

.margin-t-b-10 {
	margin: 10px 0;
}

.margin-t-b-15 {
	margin: 15px 0;
}

.margin-t-b-20 {
	margin: 20px 0;
}

.margin-t-b-15 {
	margin: 15px 0;
}

.margin-t-b-30 {
	margin: 30px 0;
}

.margin-top-1 {
	margin-top: 1px;
}

.margin-top-2 {
	margin-top: 2px;
}

.margin-top-3 {
	margin-top: 3px;
}

.margin-top-4 {
	margin-top: 4px;
}

.margin-top-5 {
	margin-top: 5px;
}

.margin-top-10 {
	margin-top: 10px;
}

.margin-top-15 {
	margin-top: 15px;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-top-25 {
	margin-top: 25px;
}

.margin-top-30 {
	margin-top: 30px;
}

.margin-top-40 {
	margin-top: 40px;
}

.margin-top-50 {
	margin-top: 50px;
}

.margin-top-100 {
	margin-top: 100px;
}

.margin-top-110 {
	margin-top: 110px;
}

.margin-top-120 {
	margin-top: 120px;
}

.margin-top-130 {
	margin-top: 130px;
}

.margin-top-140 {
	margin-top: 140px;
}

.margin-top-150 {
	margin-top: 150px;
}

.margin-left-0 {
	margin-left: 0px;
}

.margin-left-5 {
	margin-left: 5px;
}

.margin-left-10 {
	margin-left: 10px;
}

.margin-left-15 {
	margin-left: 15px;
}

.margin-left-20 {
	margin-left: 20px;
}

.margin-left-25 {
	margin-left: 25px;
}

.margin-left-30 {
	margin-left: 30px;
}

.margin-left-35 {
	margin-left: 35px;
}

.margin-left-40 {
	margin-left: 40px;
}

.margin-left-45 {
	margin-left: 45px;
}

.margin-left-50 {
	margin-left: 50px;
}

.margin-left-55 {
	margin-left: 55px;
}

.margin-left-60 {
	margin-left: 60px;
}

.margin-left-65 {
	margin-left: 65px;
}

.margin-left-70 {
	margin-left: 70px;
}

.margin-left-75 {
	margin-left: 75px;
}

.margin-left-80 {
	margin-left: 80px;
}

.margin-left-85 {
	margin-left: 85px;
}

.margin-left-90 {
	margin-left: 90px;
}

.margin-left-134 {
	margin-left: 134px;
}

.margin-right-0 {
	margin-right: 0px;
}

.margin-right-5 {
	margin-right: 5px;
}

.margin-right-10 {
	margin-right: 10px;
}

.margin-right-15 {
	margin-right: 15px;
}

.margin-right-20 {
	margin-right: 20px;
}

.margin-right-25 {
	margin-right: 25px;
}

.margin-right-30 {
	margin-right: 30px;
}

.margin-right-35 {
	margin-right: 35px;
}

.margin-right-40 {
	margin-right: 40px;
}

.margin-right-45 {
	margin-right: 45px;
}

.margin-right-50 {
	margin-right: 50px;
}

.margin-right-55 {
	margin-right: 55px;
}

.margin-right-60 {
	margin-right: 60px;
}

.margin-right-65 {
	margin-right: 65px;
}

.margin-right-70 {
	margin-right: 70px;
}

.margin-right-134 {
	margin-right: 134px;
}

.margin-bottom-0 {
	margin-bottom: 0px;
}

.margin-bottom-5 {
	margin-bottom: 5px;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}

.margin-bottom-15 {
	margin-bottom: 15px;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.margin-bottom-25 {
	margin-bottom: 25px;
}

.margin-bottom-30 {
	margin-bottom: 30px;
}

.margin-bottom-40 {
	margin-bottom: 40px;
}

.circle {
	border-radius: 50%;
}

.border-none {
	border: none;
}

.border-1-eae1e1 {
	border: 1px solid #eae1e1;
}

.border-1-3D2E2E {
	border: 1px solid #3D2E2E;
}

.border-1-b60703 {
	border: 1px solid #b60703;
}

.border-right {
	border-right: solid 1px #ededed;
}

.border-bottom {
	border-bottom: solid 1px #ededed;
}

.border-top {
	border-top: solid 1px #ededed;
}

.dashen-top {
	border-top: dashed 1px #e1e1e2;
}

.btn {
	border: none;
	border-radius: 2px;
}

.clear {
	clear: left;
}

.line-height-25 {
	line-height: 25px;
}

.logo {
}

/*head*/
.head {
	height: 94px;
	border-bottom: 1px solid #3C0100;
	background: linear-gradient(#b60703,#980603,#6d0403);
	background: -webkit-linear-gradient(#b60703,#980603,#6d0403);
	background: -o-linear-gradient(#b60703,#980603,#6d0403);
	background: -moz-linear-gradient(#b60703,#980603,#6d0403);
	background: -ms-linear-gradient(#b60703,#980603,#6d0403);
}

.sign label {
	height: 30px;
	border-radius: 3px;
	overflow: hidden;
}

.sign label input {
	height: 28px;
	line-height: 28px;
	font-weight: normal;
}

.code a img {
	width: 50px;
	height: 28px;
	float: right;
}

.sign .log {
	width: 80px;
	height: 30px;
	line-height: 30px;
	color: #fdd695;
	border-radius: 4px;
	background: linear-gradient(#DB0500,#570000,#DB0500);
	background: -webkit-linear-gradient(#DB0500,#570000,#DB0500);
	background: -o-linear-gradient(#DB0500,#570000,#DB0500);
	background: -moz-linear-gradient(#DB0500,#570000,#DB0500);
	background: -ms-linear-gradient(#DB0500,#570000,#DB0500);
}

.col-xs-2 > .account,.col-xs-2 > .demo {
	width: 78px;
	height: 78px;
	line-height: 115px;
	display: block;
}

.account {
	background-image: url(../images/account.png);
}

.demo {
	background-image: url(../images/demo.png);
}

/*nav*/
.nav {
	height: 45px;
	border-top: 1px solid #7d1110;
	background: linear-gradient(#680403,#530403,#400303);
	background: -webkit-linear-gradient(#680403,#530403,#400303);
	background: -o-linear-gradient(#680403,#530403,#400303);
	background: -moz-linear-gradient(#680403,#530403,#400303);
	background: -ms-linear-gradient(#680403,#530403,#400303);
}

.nav ul {
	height: 44px;
	background-image: url(../images/nav_bg.png);
}

.nav ul li {
	width: 115px;
	height: 44px;
	text-align: center;
	margin-right: 2px;
	float: left;
}

.nav ul .defa {
	background-color: #290101;
}

.nav ul .defa p {
	color: #fff;
}

.nav ul li:hover {
	background-color: #290101;
}

.nav ul li:hover p {
	color: #fff;
}

.nav ul li i {
}

.nav ul li p {
	height: 18px;
	padding-bottom: 0;
	margin-bottom: 0;
}


/*footer*/
.footer {
	/*height: 589px;*/
	background-color: #1c1310;
	border-top: 1px solid #3D2E2E;
}

.ft_na {
	/*height: 298px;*/
	border-bottom: 1px solid #000;
}

/*****底部导航*****/
.item-table {
	display: table;
	width: 100%;
	table-layout: fixed;
	padding-bottom: 20px;
	align-content: }
.footer-service .item-table {display:table;
	table-layout: fixed;
}

.footer-service .item {
	display: table-cell;
	width: 20%;
	vertical-align: top;
	padding-left: 35px;
	padding-right: 15px;
}

.footer-service .item-tit {
	color: #ffcc7c
}

.footer-service .item-bd {
	padding-top: 10px;
	overflow: hidden
}

.footer-service .item-bd ul {
	padding-left: 0;
}

.footer-service .item-bd li {
	clear: both;
	padding-top: 10px;
}

.footer-service .inner-item-bd {
	padding-top: 5px;
	display: none
}

.footer-service .inner-item-hd {
	position: relative;
	padding-left: 10px;
}

.footer-service .inner-item-hd:after {
	content: "";
	width: 5px;
	height: 5px;
	background-color: #999999;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -2px;
}

.footer-service .inner-item-hd a {
	position: relative;
	color: #dcd2b1
}

.footer-service .inner-item-hd a:hover {
	color: #d6ac6a
}

.footer-service .inner-item-hd a:after {
	content: "";
	border-width: 5px;
	border-style: solid;
	border-color: transparent  transparent transparent #dcd2b1;
	position: absolute;
	right: -18px;
	top: 50%;
	margin-top: -4px;
}

.footer-service li.on .inner-item-hd a {
	color: #d6ac6a
}

.footer-service li.on .inner-item-hd a:after {
	content: "";
	border-width: 5px;
	border-style: solid;
	border-color: #d6ac6a  transparent transparent transparent;
	position: absolute;
	right: -18px;
	top: 50%;
	margin-top: -4px;
}

.footer-service li.on .inner-item-hd:after {
	background-color: #d6ac6a
}

.footer-service .item {
	position: relative;
	border-left: 1px solid #333;
	border-right: 1px solid #000;
	height: 100%;
}

.footer-service .footer-ewm .icon-tel {
	text-align: left;
	background: url(../images/icon-footer-tel.png) left center no-repeat;
	padding-left: 25px;
	margin-top: 10px;
}

.footer-service .footer-ewm .icon-qq {
	text-align: left;
	background: url(../images/icon-footer-qq.png) left center no-repeat;
	padding-left: 25px;
	margin-top: 10px;
}

.footer-service .footer-ewm .icon-mail {
	text-align: left;
	background: url(../images/icon-footer-mail.png) left center no-repeat;
	padding-left: 25px;
	margin-top: 10px;
}

.footer-service .footer-ewm .icon-tel a,.footer-service .footer-ewm .icon-qq a,.footer-service .footer-ewm .icon-mail a {
	color: #666666
}

.footer-link {
	border-top: 1px solid #29221e;
	padding-top: 20px;
}

.footer-link .link {
	color: #66615e
}

.footer-link .link a {
	display: inline-block;
	padding: 0 10px;
}

.footer-download .container {
	border-top: 1px solid #333;
	padding-top: 20px;
}

.footer-download {
	border-bottom: 1px solid #000;
	padding-bottom: 20px;
	overflow: hidden
}

.footer-download .tit {
	width: 90px;
	color: #d6ab68
}

.footer-download .con {
	padding-left: 90px;
}

.footer-download .con  a {
	display: inline-block;
	height: 28px;
	line-height: 26px;
	background-color: #630304;
	border: 1px solid #000;
	color: #dcd2b1;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
}

.footer-download .con  a.a1 {
	background-color: #9e7c3a;
}

.footer-download .con  a:hover {
	background-color: #910002
}

.footer-download .con  a.a1:hover {
	background-color: #b58f00
}

.footer-hezuo {
	border-top: 1px solid #333333
}
/*****底部导航*****/

.rela {
	/*height: 294px;*/
	border-top: 1px solid #46312A;
}

/*首页内容*/
/*五大项目*/
.text-desc {
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,.8);
	height: 100%;
	opacity: 0;
	width: 100%;
}

.text-desc2 {
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,.8);
	height: 100%;
	opacity: 0;
	width: 100%;
}

.port-1 {
	float: left;
	width: 100%;
	height: 192px;
	position: relative;
	overflow: hidden;
}

.port-1 .text-desc {
	opacity: 0.9;
	top: 100%;
	transition: 0.8s;
	color: #000;
	padding: 5px 15px;
}

.port-1 .text-desc div {
	padding-top: 5px;
}

.port-1 .text-desc2 {
	opacity: 0.9;
	top: 100%;
	transition: 0.8s;
	color: #000;
	padding: 5px 15px;
}

.port-1 .text-desc2 div {
	padding-top: 5px;
}

.port-1 img {
	width: 100%;
	transition: 0.8s;
}

.port-1 .text-desc .submit .test-link {
	width: 120px;
	height: 35px;
	line-height: 35px;
	color: #31241e;
	border-radius: 6px;
	text-align: center;
	background-color: rgba(144,114,0,1);
	display: block;
}

.port-1 .text-desc2 .submit .test-link {
	width: 120px;
	height: 35px;
	line-height: 35px;
	color: #31241e;
	border-radius: 6px;
	text-align: center;
	background-color: rgba(144,114,0,1);
	display: block;
}

.port-1 .text-desc .submit .test-link:hover {
	background-color: rgba(199,158,0,1);
}

.port-1 .text-desc .submit .shiwan {
	width: 120px;
	height: 35px;
	line-height: 35px;
	color: #c19e79;
	border-radius: 6px;
	text-align: center;
	background-color: rgba(99,3,4,1);
	display: block;
}

.port-1 .text-desc2 .submit .test-link:hover {
	background-color: rgba(199,158,0,1);
}

.port-1 .text-desc2 .submit .shiwan {
	width: 120px;
	height: 35px;
	line-height: 35px;
	color: #c19e79;
	border-radius: 6px;
	text-align: center;
	background-color: rgba(99,3,4,1);
	display: block;
}

.port-1 .text-desc .submit .shiwan:hover {
	background-color: rgba(155,0,2,1);
}

.port-1 .text-desc2 .submit .shiwan:hover {
	background-color: rgba(155,0,2,1);
}

.port-1:hover img {
	transform: scale(1.2);
}

.port-1.effect-1:hover .text-desc {
	top: 0;
}

.port-1.effect-2 .text-desc {
	top: auto;
	bottom: -65%;
	transition: 0.5s;
}

.port-1.effect-2:hover .text-desc {
	bottom: 0;
}

.port-1.effect-3 .text-desc {
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
	overflow: hidden;
	padding: 0;
}

.port-1.effect-3:hover .text-desc {
	width: 100%;
	top: 0;
	left: 0;
	height: 100%;
	padding: 45px 20px 20px;
}

.port-1 .info {
	opacity: 0;
	transition: 0.5s;
}

.port-1:hover .info {
	opacity: 1;
}

.port-1 .submit {
	opacity: 0;
	transition: 0.8s;
}

.port-1:hover .submit {
	opacity: 1;
}

.port-1.effect-1:hover .text-desc2 {
	top: 0;
}

.port-1.effect-2 .text-desc2 {
	top: auto;
	bottom: -83%;
	transition: 0.8s;
}

.port-1.effect-2:hover .text-desc2 {
	bottom: 0;
}

.port-1.effect-3 .text-desc2 {
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
	overflow: hidden;
	padding: 0;
}

.port-1.effect-3:hover .text-desc2 {
	width: 100%;
	top: 0;
	left: 0;
	height: 100%;
	padding: 45px 20px 20px;
}

/*品质保障*/
#home-honour {
	padding-top: 50px;
	padding-bottom: 30px;
	overflow: hidden
}

.home-honour-hd .tit {
	border-bottom: 1px solid #c19e79;
	height: 20px;
}

.home-honour-hd .tit span {
	display: inline-block;
	background-color: #201F1E;
	padding-left: 20px;
	padding-right: 20px;
}

.home-honour-bd {
	padding-top: 50px;
	overflow: hidden
}

.home-honour-bd .icon {
	display: block;
	width: 110px;
	height: 110px;
	background-color: #1a120e;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: center center;
	transform: scale(1,1);
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}

.home-honour-bd .item:hover .icon {
	background-color: #20140e;
	box-shadow: 0 0 15px #c70000;
	transform: scale(1.1,1.1)
}


.home-honour-bd .icon-1 {
	background-image: url(../images/icon-honour-1.png)
}

.home-honour-bd .icon-2 {
	background-image: url(../images/icon-honour-2.png)
}

.home-honour-bd .icon-3 {
	background-image: url(../images/icon-honour-3.png)
}

.home-honour-bd .icon-4 {
	background-image: url(../images/icon-honour-4.png)
}

.home-honour-bd  span {
	color: #c19e79
}

#home-join {
	padding-top: 30px;
	padding-bottom: 40px;
	overflow: hidden
}

.home-join-hd {
	text-align: center;
	color: #f1d9a6
}

.home-join-hd .tit {
	border-bottom: 1px solid #c19e79;
	height: 20px;
}

.home-join-hd .tit span {
	display: inline-block;
	background-color: #12110f;
	padding-left: 20px;
	padding-right: 20px;
}

.home-join-hd .total {
	padding-top: 50px;
}

.home-join-hd strong {
	color: #f1d9a6;
	vertical-align: middle;
	padding-left: 20px;
}

.home-join-bd {
	clear: both;
	padding-top: 50px;
	padding-bottom: 50px;
	overflow: hidden
}

.home-join-bd {
	width: 80%;
	margin: 0 10%
}

.home-join-bd li {
	display: inline-block;
	padding: 0 2%;
	text-align: center
}

.home-join-bd li .num {
	position: relative;
	display: inline-block;
	height: 160px;
	line-height: 160px;
	background: #6e5a45 url(../images/icon-add.png) 95% 10px no-repeat;
	;font-size: 120px;
	color: #e7d09f;
	padding-left: 10px;
	padding-right: 10px
}

.home-join-bd li .num:after {
	content: "";
	width: 100%;
	height: 4px;
	background-color: #7c5f41;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -2px;
	z-index: 2
}

.home-join-bd li .tit {
	padding-top: 10px;
	color: #e7d09f;
	font-size: 18px;
}

.home-join-submit {
	display: block;
	width: 220px;
	height: 50px;
	background-color: #630304;
	color: #e7d09f;
	font-size: 20px;
	line-height: 46px;
	margin: 0 auto;
	text-align: center;
	border: 2px solid #000
}

.home-join-submit:hover {
	background-color: #910002;
	box-shadow: 0 0 20px #6e090a
}

#home-honour {
	-webkit-animation: moveDown 1.5s ease-in-out 0.2s backwards;
	-moz-animation: moveDown 1.5s ease-in-out 0.2s backwards;
	-o-animation: moveDown 1.5s ease-in-out 0.2s backwards;
	-ms-animation: moveDown 1.5s ease-in-out 0.2s backwards;
	animation: moveDown 1.5s ease-in-out 0.2s backwards;
}

@-webkit-keyframes moveDown {
/*定义动画*/
	0% {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3);
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 1;
	}
}

@-o-keyframes moveDown {
/*定义动画*/
	0% {
		-o-transform: translateY(120px);
		opacity: 0;
	}

	100% {
		-o-transform: translateY(0px);
		opacity: 1;
	}
}

/*注册页面*/
.regi {
	
}

/*左侧导航栏*/
.nv_lt ul li {
	font-size: 14px;
	letter-spacing: 1px;
	color: #6b6260;
	margin: 10px 20px;
}

.nv_lt ul li.on, .nv_lt li:hover {
    background: #6d0002;
    background-size: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.promottons-banner {padding-top:36px;}
.promottons-box {margin-top:10px;position:relative;overflow:hidden; min-height:683px;}
.nv_lt {background-color:#1e1412;padding:10px;overflow:hidden}
.nv_lt li {height:32px;line-height:32px;padding-left:32px;margin-bottom:5px;position:relative}
.nv_lt li a {display:block;font-size:14px;color:#6b6260}
.nv_lt li:after {content:"";width:25px;height:32px;background-repeat:no-repeat;background-image:url(../images/icon-lt.png);position:absolute;left:3px;top:0;transition: all 0.3s ease 0s;-webkit-transition: all 0.3s ease 0s;-moz-transition: all 0.3s ease 0s;-ms-transition: all 0.3s ease 0s;-o-transition: all 0.3s ease 0s;}
.nv_lt li.n1:after {background-position:0 8px}
.nv_lt li.n2:after {background-position:0 -30px}
.nv_lt li.n3:after {background-position:0 -68px}
.nv_lt li.n4:after {background-position:0 -110px}
.nv_lt li.n5:after {background-position:0 -146px}
.nv_lt li.n6:after {background-position:0 -186px}
.nv_lt li.n7:after {background-position:0 -220px}
.nv_lt li.n8:after {background-position:0 -262px}
.nv_lt li.n9:after {background-position:0 -300px}
.nv_lt li.n10:after {background-position:0 -335px}
.nv_lt li.on,.nv_lt li:hover {background: #6d0002;background-size:100%;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.nv_lt li.on a,.nv_lt li:hover a {color:#c19e79}
.nv_lt li.n1.on:after,.nv_lt li.n1:hover:after {background-position:-25px 8px}
.nv_lt li.n2.on:after,.nv_lt li.n2:hover:after {background-position:-25px -30px}
.nv_lt li.n3.on:after,.nv_lt li.n3:hover:after {background-position:-25px -68px}
.nv_lt li.n4.on:after,.nv_lt li.n4:hover:after {background-position:-25px -110px}
.nv_lt li.n5.on:after,.nv_lt li.n5:hover:after {background-position:-25px -146px}
.nv_lt li.n6.on:after,.nv_lt li.n6:hover:after {background-position:-25px -186px}
.nv_lt li.n7.on:after,.nv_lt li.n7:hover:after {background-position:-25px -220px}
.nv_lt li.n8.on:after,.nv_lt li.n8:hover:after {background-position:-25px -262px}
.nv_lt li.n9.on:after,.nv_lt li.n9:hover:after {background-position:-25px -300px}
.nv_lt li.n10.on:after,.nv_lt li.n10:hover:after {background-position:-25px -335px}

/*电子游艺*/
.p-dh ul {
	height: 50px;
	background-image: url(../images/ga_5.png);
}

.p-dh ul li {
	width: 90px;
	height: 48px;
	line-height: 48px;
	margin-right: 2px;
	float: left;
	text-align: center;
}

.p-dh ul li a {
	width: 90px;
	height: 50px;
	display: block;
	color: #FAE800;
}

.p-dh ul li .current {
	color: #C4870A;
	background-image: url(../images/ga_5_bg.png);
}

.p-dh ul li:hover a{
	color: #C4870A;
	background-image: url(../images/ga_5_bg.png);
}





